Options -Indexes
Options +FollowSymlinks

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /job-portal/public/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_php.c>
    php_flag  display_errors       On
    php_value upload_max_filesize  10M
    php_value post_max_size        12M
    php_value memory_limit         256M
</IfModule>
<IfModule mod_php8.c>
    php_flag  display_errors       On
    php_value upload_max_filesize  10M
    php_value post_max_size        12M
    php_value memory_limit         256M
</IfModule>
